COMPOSE_PROJECT_NAME=k6poc

# Puertos host
DYNAMODB_PORT=8000
DYNAMODB_ADMIN_PORT=8001
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
API_GATEWAY_PORT=4000

# Credenciales Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Credenciales DynamoDB Local
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# Retención Prometheus
PROMETHEUS_RETENTION=15d

# Versiones
DYNAMODB_IMAGE_TAG=latest
DYNAMODB_ADMIN_IMAGE_TAG=latest
PROMETHEUS_IMAGE_TAG=latest
GRAFANA_IMAGE_TAG=latest
K6_IMAGE_TAG=latest
NODE_IMAGE_TAG=20-alpine
AWS_CLI_IMAGE_TAG=latest

# Run metadata
RUN_ID=run-local
